.App {
  text-align: center;
}
/* Nav bar styling */
.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 4em;
}

.NavBar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

/* About page */
.About {
  margin-left: 10%;
  margin-right: 10%;
}

/* Explore page elements */
.Explore {
  text-align: center;
  margin-top: 7%;
}

.all-projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.ProjectContainer {
  margin: 1em;
}

.ProjectContainer a {
  text-decoration: none;
  color: black;
}

.project-cards {
  max-width: 300px;
  padding: 2em;
}

.project-card-image {
  max-width: 200px;
}

/* Single project view */

.SingleProject {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.project-title {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.creator-name {
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.creator-container {
  display: flex;
}

.reward-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.reward-cards {
  height: 200px;
  max-width: 300px;
  padding: 2em;
}

.reward-title {
  margin-top: 5%;
}

.fund-button {
  font-size: 1.5em;
  border: none;
  color: white;
  background-color: darkslategrey;
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 10%;
  margin-bottom: 10%;
  cursor: pointer;
}

.delete-button {
  font-size: 1.5em;
  border: none;
  color: white;
  background-color: rgb(167, 9, 9);
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 10%;
  cursor: pointer;
}

.progress-bar-container {
  margin-top: 5%;
  width: 70%;
}

/* Checkout */
.Checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.Checkout h1 {
  grid-column: 1/-1;
}

.Checkout h4 {
  grid-column: 2;
}

.reward-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-row-start: 2;
}

.reward-form input {
  float: left;
  margin: 10%;
}

.checkout-info {
  grid-column-start: 2;
}

.checkout-button {
  align-items: center;
  font-size: 1.5em;
  border: none;
  color: white;
  background-color:cornflowerblue;
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 10%;
  margin-bottom: 10%;
  cursor: pointer;
}

.status-page {
  text-align: center;
  margin-top: 10%;
}