.App {
  text-align: center;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 4em;
}

.NavBar a {
  text-decoration: none;
  color: white;
}

.Explore {
  text-align: center;
}

.all-projects-container {
  display: flex;
  justify-content: space-evenly;
}

.ProjectContainer {
  background-color: teal;
}

.SingleProject {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}