.App {
  text-align: center;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 4em;
}

.NavBar a {
  text-decoration: none;
  color: white;
}

.Explore {
  text-align: center;
}

.all-projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.ProjectContainer {
  margin: 1em;
}

.ProjectContainer a {
  text-decoration: none;
  color: black;
}

.project-cards {
  max-width: 300px;
  padding: 2em;
}

.SingleProject {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.reward-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.reward-cards {
  height: 150px;
  max-width: 300px;
  padding: 2em;
}